

<div class="jumbotron">
   <h1 id="title" class="text-center"><span><img id="queen"   src="/assets/img/bq.png" alt=""></span>Grab a burger<span class="glyphicon glyphicon-fire" aria-hidden="true"></span></h1>
   <hr>
   <br>
   <div class="container">
       <div class="row">
           <div class="col-md-4 text-center" id="new">
               <ul>
                    {{#each name}}
                     {{#if devoured}}
                     {{else}}
                    
                        <div  class="mydiv" id="div{{id}}">
                            
                            <p id="{{id}}">{{id}}. {{burger_name}}</p>
                            <button class="mybtn new{{id}}" data-id="{{id}}" >Divour it</button>
                        </div>
                        
                     {{/if}}
                   {{/each}}
               </ul>
           </div>
           <div class="col-md-4">
                <div class="text-center"><textarea id="text" cols="30" rows="7"></textarea></div>
                <br>
                <div class="text-center"><a id="add" class="btn btn-primary btn-lg" role="button">Submit</a></div>
           </div>
           
           <div class="col-md-4 text-center " id="devoured">

                   {{#each name}}
                     {{#if devoured}}
                     
                        <p id="{{id}}">{{id}}. {{burger_name}}</p>
                    {{/if}}
                   {{/each}}
               
           </div>
       </div>
       
   </div>
   
</div>

